# Создайте файл .env из копии этого файла и замените значения переменных реальными данными


# API-ключ курса валют exchangerate-api.com https://v6.exchangerate-api.com/v6/YOUR-API-KEY/latest/USD
API_KEY_CURRENCY=3af674dde9d7c5ff15ee2a38
# API-ключ рынка акций twelvedata.com https://api.twelvedata.com/price?symbol=AAPL&apikey=your_api_key
API_KEY_STOCK=f2499ff44f3f4bfbac71e926ae396b60